{{ 's-products-slider.css' | asset_url | stylesheet_tag }}

<ul class="products-slider h-s">
  {% for product in products %}
    <li>
      {% render 'product-card', product: product %}
    </li>
  {% endfor %}
</ul>
