{{ 's-product-form.css' | asset_url | stylesheet_tag }}

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign available = current_variant.available
%}

{% form 'product', product, class: 'pf', id: 'pf' %}
  <input type="hidden" id="variant-id" name="id" value="{{ current_variant.id }}">
  {% comment %}
    Options
  {% endcomment %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      {% render 'product-option', option: option %}
    {% endfor %}
  {% endunless %}

  {% comment %}
      Add to Cart
    <div class="product_atc">
      {% if available %}
        <button
          type="submit"
        >
          Add to Bag
        </button>
      {% else %}
        <button
          type="submit"
          disabled
          class="disabled"
        >
          Sold Out
        </button>
      {% endif %}
    </div>
  {% endcomment %}
{% endform %}
