{{ 's-p-main.css' | asset_url | stylesheet_tag }}
{{ 's-product-card.css' | asset_url | stylesheet_tag }}
{% assign collection = collections.home %}

<div class="p">
  <section class="s-he">
    <picture>
      <source srcset="{{'im-he-ban.png' | asset_url}}" media="(min-width: 770px)">
      <img src="{{ 'im-he-ban.png' | asset_url  }}" width="auto" height="auto" alt="logo">
    </picture>
  </section>
  <section class="s-colc">
    <h2>
      WHERE LIVING <br>
      BECOMES <i>ART</i> <br>
      AND EVERY TABLE IS A<br>
      <i>PERFORMANCE</i>
    </h2>

    <ul>
      {% for product in collection.products %}
        <li>
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

{% schema %}
{
  "name": "main",
  "settings": [
    {
      "id": "d_video",
      "label": "Desktop Video",
      "type": "video"
    },
    {
      "id": "m_video",
      "label": "Mobile Video",
      "type": "video"
    },
    {
      "id": "collection_url",
      "label": "Collection URL",
      "type": "url"
    },
    {
      "id": "title",
      "label": "Title",
      "type": "text"
    }
  ]
}
{% endschema %}
