:root {
  --h-h: 82rem;
  --p-i: 44rem;
  @media (width < 770px) {
    --h-h: 80rem;
    --p-i: 20rem;
  }
}
.h-s {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.d-n {
  display: none !important;
}

.s-s {
  height: 100vh;
  overflow: hidden;
}

.m-o {
  @media (width >= 770px) {
    display: none !important;
  }
}
.d-o {
  @media (width < 770px) {
    display: none !important;
  }
}
