.f {
  padding-inline: var(--p-i);
  padding-block: 32rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 44rem;
  @media (width < 770px) {
    max-width: 600px;
  }
}
.f > div:nth-child(2) {
  grid-column: span 2;
}
.f > div:nth-child(3) {
  grid-column: span 2;
}
.f > div {
  font-size: 16rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
