.h-ph {
  /* height: var(--h-h); */
}
.h {
  padding: 16rem var(--p-i);
  height: var(--h-h);
  width: 100%;
  /* background: white; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .h_l,
.h_r,
.h_r-m {
  flex-basis: 100%;
} */
/* .h_m {
  flex-shrink: 0;
} */
.h_l a {
  display: block;
  width: 80rem;
}
.logo {
  display: none;
  width: 421rem;
  position: relative;
}
.logo img {
  position: absolute;
}

.h_r {
  display: flex;
  justify-content: flex-end;
  gap: 40rem;
  @media (width < 770px) {
    display: none;
  }
}

.h_n {
  display: flex;
  gap: 40rem;
  @media (width < 770px) {
    display: none;
  }
}
.h_n-item {
  text-transform: capitalize;
}
.h_n a {
  font-size: 15rem;
}

/* .h_m a figure {
  width: 80px;
}
.h_m a span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
} */

.h_cb {
  font-size: 15rem;
}
.h_cb_count {
  color: #333;
}

.h_r-m {
  display: none;
  @media (width < 770px) {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}
.h_r-m > div {
  /* padding: 4px 8px; */
  position: relative;
}
.h_r-m svg {
  width: 20px;
}

.h_r-m_cc {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 8px;
  line-height: 1;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 4px);
  right: -3px;
}
