/*****************
MENU DRAWER
/****************/
#menu-drawer {
  position: fixed;
  top: var(--h-h);
  height: calc(100vh - var(--h-h));
  width: 100%;
  background-color: white;
  z-index: 999;
  display: none;
  place-items: center;

  @media (width < 770px) {
    display: grid;
    height: 100dvh;
    height: 100vh;
    top: 0;
  }
}

#menu-drawer nav {
  display: flex;
  flex-direction: column;
  /* padding-top: 40px; */
}

.d_item {
  padding: 16px var(--p-i);
  font-family: "st";
}
.d_item.opened svg {
  transform: rotate(45deg);
}

.d_item-h {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}
.d_item span {
  font-size: 32px;
  font-weight: 500;
}
.d_item svg {
  width: 14px;
  transition: transform 0.2s ease-out;
}
.d_dd {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.d_dd ul {
  padding-top: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
