.p {
  /* padding-top: 40px; */
  padding-bottom: 80rem;
}
.s-he {
}
.s-he picture {
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: #e5e5e5;
  @media (width < 770px) {
    aspect-ratio: 9/16;
  }
}
.s-he img {
  height: 100%;
}
.s-colc {
  padding-top: 120rem;
  padding-inline: 44rem;
}
.s-colc h2 {
  font-size: 80rem;
  line-height: 1;
  text-align: center;
  font-family: "st";
  font-weight: normal;
}
.s-colc ul {
  margin-top: 120rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 80rem 44rem;
}

.s-colc li {
  &:nth-of-type(1) {
    grid-column: 1 / span 3;
  }
  &:nth-of-type(2) {
    grid-column: 5 / span 2;
  }
  &:nth-of-type(3) {
    grid-column: 1 / span 2;
  }
  &:nth-of-type(4) {
    grid-column: 4 / span 3;
  }
}

.s-gal {
  margin-top: 120rem;
}
.s-gal_h {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: var(--p-i);
}
.s-gal nav {
  display: flex;
  gap: 40rem;
}
.s-gal button:nth-child(2) svg {
  transform: rotate(180deg);
}
.s-gal h2 {
  font-family: "st";
  font-size: 80rem;
  line-height: 1;
  font-weight: normal;
}
.swiper_ {
  margin-top: 40rem;
  margin-left: 277rem;
}
.s-gal .swiper-wrapper {
  align-items: flex-start;
  height: unset;
}
