.p {
  padding-top: 40px;
}
.s-video {
  /* padding-inline: var(--p-i); */
  width: 75%;
  margin-inline: auto;
}
.s-video figure {
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: #e5e5e5;
  @media (width < 770px) {
    aspect-ratio: 9/16;
  }
}
.s-video video:first-child {
  @media (width < 770px) {
    display: none;
  }
}
.s-video video:last-child {
  display: none;
  @media (width < 770px) {
    display: unset;
  }
}

.s-video h3 {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
}
