.p {
  /* padding: 20px; */
  padding-top: calc(80rem + var(--h-h));
  padding-bottom: 80rem;
  @media (width < 770px) {
    padding-top: 40rem;
  }
}
.product {
}

.product h1 {
  padding-inline: var(--p-i);
  font-family: "st";
  font-size: 30rem;
  font-weight: normal;
  text-transform: uppercase;
  @media (width < 770px) {
    margin-top: 32rem;
    font-size: 20rem;
  }
}
.product_info {
  margin-top: 32rem;
  padding-inline: var(--p-i);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (width < 770px) {
    flex-direction: column-reverse;
  }
}

.product_info .l {
  width: 654rem;
  p {
    /* margin-top: 24rem; */
    font-size: 16rem;
    line-height: 140%;
  }

  @media (width < 770px) {
    width: unset;
  }
}
.product_info .r {
  width: 421rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24rem 44rem;
  & > div:nth-child(2n) {
    justify-self: flex-end;
  }

  @media (width < 770px) {
    width: unset;
  }
}
.product_info p {
  font-size: 16rem;
}

.product_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  @media (width>1000px) {
    font-size: 18px;
  }
}
.product_price {
  font-size: 16px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.product_price .compare-price {
  text-decoration: line-through;
  color: #aaa;
}

.product_atc button {
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
}
.product_atc button:disabled {
  color: #999;
  border-bottom: unset;
}

.product_gallery {
}

.product_data {
  padding-inline: var(--p-i);
  margin-top: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (width < 770px) {
  }
}
.product_data a {
  text-transform: uppercase;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
}
