.p {
  padding-top: 80rem;
  padding-bottom: 160rem;
  @media (width < 770px) {
    padding-top: 40rem;
    padding-bottom: 80rem;
  }
}

.product h1 {
  padding-inline: var(--p-i);
  font-family: "st";
  font-size: 30rem;
  font-weight: normal;
  text-transform: uppercase;
  @media (width < 770px) {
    margin-top: 40rem;
    font-size: 20rem;
  }
}
.product_info {
  margin-top: 32rem;
  padding-inline: var(--p-i);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (width < 770px) {
    flex-direction: column-reverse;
    align-items: unset;
    gap: 32rem;
  }
}

.product_info p {
  font-size: 15rem;
  @media (width < 770px) {
    font-size: 14rem;
  }
}

.product_info .l {
  width: 654rem;
  @media (width < 770px) {
    width: unset;
  }
}

.product_info .l p {
  line-height: 140%;
}

.product_info .r {
  width: 421rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24rem 44rem;
  & > div:nth-child(2n) {
    justify-self: flex-end;
  }
  @media (width < 770px) {
    width: unset;
    gap: 24rem 20rem;
  }
}

.product_atc button {
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;

  @media (width < 770px) {
    font-size: 12rem;
  }
}
.product_atc button:disabled {
  color: #999;
  border-bottom: unset;
}

.product_gallery {
  margin-top: 80rem;
  @media (width < 770px) {
    margin-top: 0;
  }
}

.product_data {
  padding-inline: var(--p-i);
  margin-top: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (width < 770px) {
    margin-top: 32rem;
  }
}
.product_data a {
  text-transform: uppercase;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
}
