.p {
  padding-inline: var(--p-i);
}

.collection_sort_ {
  /* padding: 0 20px; */
}
.collection_sort {
  margin-left: auto;
  display: block;
  cursor: pointer;
}

.collection_products {
  margin-top: 40px;
  /* padding-inline: 20px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
  @media (width < 641px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (width > 1008px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cp {
  min-width: 0; /* ✅ Critical to prevent overflow */
}

.cp figure {
  aspect-ratio: 2/3;
}
.cp_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  gap: 40px;
  @media (width < 770px) {
    justify-content: unset;
    gap: 8px;
  }
}
.cp_info h3 {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cp_info p {
  flex-shrink: 0;
  font-size: 12px;
}
.collection_nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #666;
}
.collection_nav .current {
  color: black;
}
