.p {
  /* padding: 20px; */
}
.product {
  display: flex;
  flex-direction: column;
  @media (width > 1000px) {
    flex-direction: row;
    align-items: flex-start;
  }
}


/* PRODUCT INFO */
.product_info_ {
  width: 100%;
  padding-top: 40px;
  @media (width > 1000px) {
    width: 25%;
    position: sticky;
    top: calc(var(--h-h) + 20px);
    padding-right: 40px;
  }
}
.product_info {
  padding-inline: var(--p-i);
  @media (width > 1000px) {
    padding-inline: 0;
  }
}

.product_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  @media (width>1000px) {
    font-size: 18px;
  }
}
.product_price {
  font-size: 16px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.product_price .compare-price {
  text-decoration: line-through;
  color: #aaa;
}

.product_atc button {
  width: 100%;
  padding-block: 16px;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1;
}
.product_atc button:disabled {
  background-color: #999;
}


/* PRODUCT DATA */
.product_data {
  margin-top: 40px;
}
.product_desc{
  margin-bottom:24px;
}
.product_desc h2{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
}
.product_desc p{
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
