.products-slider {
  width: 100%;
  display: flex;
  gap: 44rem;
}
.products-slider li {
  flex-shrink: 0;
  flex-basis: calc((100% - 88rem) / 3);
  min-width: clamp(180px, calc(100% / 4.25), 100%);
}
.products-slider a {
  display: block;
}
.products-slider figure {
  aspect-ratio: 4/5;
  background-color: #e5e5e5;
}
.products-slider h4 {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.products-slider p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}
