.recommendations {
  margin-top: 40rem;
  border-top: 1px solid black;
  padding: 40rem var(--p-i);
}
.recommendations h2 {
  font-size: 18rem;
  font-weight: 500;
  @media (width < 770px) {
    font-size: 16rem;
  }
}
.products-slider_ {
  margin-top: 24rem;
}
